:root{
    --cell-size : 100px;
    --mark-size : calc((var(--cell-size) * 0.9));
}

.body{
    
}

.container{
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center; 
    align-content: center; 
    /* justify-items: center;
    align-items: center; */
}

.cell{
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell.x::after,
.cell.x::before,
.container.x .cell:not(.x):not(.circle):hover::before,
.container.x .cell:not(.x):not(.circle):hover::after{
    background-color: lightgray;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    content:'';
    position: absolute;
}

.cell.x::after,
.container.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(45deg);
}

.cell.x::before,
.container.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before,
.container.circle .cell:not(.x):not(.circle):hover::after,
.container.circle .cell:not(.x):not(.circle):hover::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::after,
.container.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.cell.circle::before,
.container.circle .cell:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: lightblue;
}

.cell.circle::before{
    background-color: blue;
}
.cell.x::before,
.cell.x::after{
    background-color: black;
}

.winning-message{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgb(0, 0, 0, .9);
    display: none;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message.show{
    display: flex;
}

.winning-message button{
    padding: 20px;
    border: 1px solid;
    font-size: 2rem;
}
.winning-message button:hover{
    background-color: black;
    color: white;
}